body {
  font-family: Arial, sans-serif;
  background-color: white;
  background-position: columns;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items : center;
  height: 50vh;
}




button {
  background-color: #4CAF50;
  border-bottom: #f2f2f2;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.error {
 color: red;
 font-size: 12px;
 margin-top: 5px;
}

h1 {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: column;
  color: rgb(8, 21, 75);
  
}

form {
flex-direction: column;
justify-content: center;
align-items: center;
display: flex;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-49%, -49%);
background-color: #f2f2f2;
padding: 20px;
border-radius: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}

label {
  font-weight: bold;
  margin-bottom: 5px;
  justify-content: center;
  flex-direction: column;
} 

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
}
   